html, body {
    height: 100%;
    width: 100%;
}

.add-route, #all-routes, #author,
#directions, .settings {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.form-group, 
.form-row,
.label {
    font-size: 13px;
}

#header { 
    margin-left: 7px;
    color: #0084ffda;
    font-weight: bolder;
} 

#logo {
    margin-top: 2px;
    height: 28px;
    width: 28px;
    z-index: 1;
    margin-left: -5px;
}  

#welcome { 
    margin: 8px 20px 0;
    padding-left: 10px;
    text-align: center;
    color: #4db84d;
    font-weight: lighter;
    font-size: 11px;
} 
h5 { 
    margin-bottom: 20px;

}

.add-route {
    margin-top: 30px;
} 

#sharebtn {
    margin-bottom: 50px;
}

#add-form { 
    margin-top: 20px;
} 

.directions {
    margin-top:30px;
}

.author {
    margin-top: 30px;
} 

.settings {
    margin-top: 30px;
} 
 
#srchbtn {  
    margin-top: -5px;
    padding: 2px;
    font-size: 12px;
    width: 55px;
}  

#addmsg { 
    background-color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    padding: 10px;
} 

#sharebtn {
    margin-top: 20px;
}