body{ 
    background-color: #212529;
    font-size: smaller;
} 

.container {
    width: 90%;
    margin: 0 auto;
}

form.signup { 
    margin-top: 25%;
}

#header { 
    padding-left: 3px;
    color: #0084ffda;
    font-weight: bolder;
    background-color: #212529;
} 

#logo {
    margin-top: 4px;
    margin-bottom: 40px;
    height: 35px;
    width: 35px;
    z-index: 1;
    margin-left: -7px;
} 
 
label {
    color: white;
}  

#firstname {
    margin-bottom: 10px;
}

#state {
    margin-bottom: 10px;
}

#password-input {
    margin-bottom: 20px;
} 

.btn {
    margin-top: 80px;
}

#hzacct {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
} 

@media screen and (max-width: 365px) {
    form.signup { 
        margin-top: 15%;
    } 
}  

@media screen and (min-width: 768px) { 
    .container {
        width: 100%; 
    } 
    form.signup { 
        margin-top: 50%;
    }
}
